<% content_for :title, "New Pepper" %>
  <div class="content">
      <div class="display-title">Edit pepper</div>
      <div class="form-edit-tracker">
        <%= render 'form', pepper: @pepper %>
      </div>
  </div>