<% content_for :title, "New Pepper" %>
  <div class="content">
      <h2>Create pepper</h2>
      <div class="form-edit-tracker">
        <%= render 'form', pepper: @pepper %>
      </div>
  </div>
  