.pengiun_account {
  position: absolute;
  right: 50px;
  bottom: 50px;

  width:  10vw;

  flex: none;
}

.right_edit {
  grid-column-start: 2;
  grid-column-end: 6;
  overflow-y: auto;
  background: linear-gradient(#F7931E, #F7B733);
}

.title_edit {
  font-family: "Righteous";
  text-align: center;
  margin: 50px;
  font-size: 40px;
}

a {
  text-decoration: none;
}

input#cancel_account {
  margin-top: 1px;
}

.pengiun_account_container {
  margin: 4vh 2vw;
  position: relative;
  width: 440px;
}

.pengiun_edit {
  text-align: center;
}

.create_form {
  margin: 4vh 0;
}
.create_box{
  margin: 0 auto;
}

.container-tracker {
  margin: 0 auto;
  padding: 4vh 0;
}

.absolute{
  position: absolute;
  bottom: 20px;
  left: 350px;
}

#cancel_account {
  height: 30px;
  flex: 1;

  text-align: center;
  margin-top: 10px;
  padding: 0 20px;

  border: none;
  border-radius: 3px;

  font-size: 20px;
  
  color: white;
  background:red;
  cursor: pointer;
}

.zero {
  padding: 0;
  margin: 0;
}
