@import url('https://fonts.googleapis.com/css?family=Titan+One');

.main_box {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-bar {
  display: flex; 
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 300px;

  box-shadow: 6px 0px 5px rgba(0, 0, 0, .16);
  z-index: 10;
}

.content {
  display: flex; 
  flex-direction: column;
  align-items: center;

  flex: 1;
  background: white;
  overflow-y: auto;
}

.box {
  background-color: white;
  border-radius: 15px;
  width: 60vw;
  margin: 12vh auto;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .16);
  display: block;
}

.flex_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-self: center;
}

.tracker {
  width: 15vw;
  height: 15vh;
  background-color: #F7931E;
  color: #fff;
  border-radius: 15px;
  margin: 25px;
  position: relative;
}

.tracker:hover, .make_btn:hover, h4:hover {
  cursor: pointer;
}

.title_main {
  text-align: center;
  font-family: "Meddon";
  Margin: 50px;
}

.tracker_title {
  margin-left: 20px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
}

.profile_pic_main {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 50px;
}

.img_main {
  width: 100%;
  height: auto;
}

.make_btn {
  background-color: #F7931E;
  height: 5vh;
  width: 12vw;
  border-radius: 15px;
  margin: 25px auto;
  line-height: 5vh;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
}

.make_btn:hover, .tracker:hover{
  box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, .16);

}

a:visited {
  color: #000;
}

.hello, h4 {
  font-family: "Open sans"
}

.overview-title {
  margin-top: 50px;
  margin-bottom: 15px;

  font-family: 'Titan One', cursive;
  font-size: 25px;
  color: #000;
}

.overview_title_a:visited {
  color: #fff;
}

.overview-list-peppers {
  margin-bottom: 50px;
  text-align: center;
}

.button-logout-user, .button-new-tracker, .button-edit-tracker, .button-delete-tracker, .signup{
  height: 40px;

  text-align: center;
  padding: 0 20px;

  border: none;
  border-radius: 3px;

  font-size: 15px;
  
  color: white;
  background: #F7931E;
  cursor: pointer;
}

.button-logout-user, .button-edit-tracker, .button-delete-tracker {
  height: 30px;
  margin-bottom: 10px;

  font-size: 12px;
}

.pepper-display-name, .display-title {
  margin-top: 60px;

  font-size: 60px;
  font-family: 'Titan One', cursive;
}

.form-edit-tracker {
  margin: 0;
  
  label {
    margin-top: 20px;
  }

  div {
    div {
      div {
        display: flex;
        flex-direction: row; 
      }
    }
  }
}

