// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Login (modifying Now UI)
.form-control {
  height: 40px;
  width: 400px;

  margin-bottom: 20px;

  font-size: 15px;
  border-color: #ced4da;
}

.form-control::placeholder {
  color: #919191;
}

.radio {
  label {
    padding: 0 40px;
  }
}

.input-group-text {
  font-size: 14px;
}

.radio-wrapper {
  display: none;
}

.card-body {
  width: 50vw;
  min-height: 100px;
}

.btn {
  font-size: 16px;
}

.custom-file {
  display: block;
  height: 30px;
  width: 400px;

  margin-top: 30px;
  margin-bottom: 30px;
}

.custom-file-label {
  padding-left: 18px;
}

.custom-file-label, .custom-file-label::after {
  border-radius: 30px;
  line-height: 24px;
}

.custom-file-label::after {
  height: 35px;
}

h1 {
  margin-top: 25px;
}

h2 {
  margin-top: 30px;
}

.actions {
  text-align: center;
}

.label-bold {
  font-weight: bold;
}

.login-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group-text, .custom-select {
  border-radius: 30px;
}

.input-group {
  width: 400px;
}

.modal {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  background-clip: unset !important;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}

.modal-content {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5)
}

.img-sad {
  width: 300px;
  height: auto;

  margin: 30px 0;
}


//-----------------------
.grid_box {
  display: grid;
  background-color: #ffffff;
  height: 80vh;
  width: 90vw;
  margin: 10vh 5vw;
  border-radius: 3px;
  position: absolute;
}

body, html{
  margin: 0;
  padding: 0;
}

.body_users {
  height: 100vh;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 30px;
    font-family: 'Titan One', cursive;
  }

  h2 {
    margin-top: -15px;
    font-weight: 100;
  }

  img {
    margin-top: 20px;
    width: 30vw;
  }
}

.right {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: auto;

  
}

.signup {
  background-color: #F7931E;
  border-radius: 15px;
  height: 84px;
  width: 440px;
  margin-top: 40px;
  text-align: center;
  line-height: 84px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.welcome-image {
  width: 500px;
}

.right_title {
  text-align: center;
  font-family: 'Titan One', cursive;
  font-size: 50px;
}

.forgot {
  margin: auto;
  text-decoration: none;
  text-align: center;
}

.login_field {
  border: 0;
}

.container-trackers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}