// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid_box {
  display: grid;
  background-color: #ffffff;
  height: 80vh;
  width: 90vw;
  margin: 10vh 5vw;
  border-radius: 3px;
  position: absolute;
}

body, html{
  margin: 0;
  padding: 0;
}

.body_users {
  height: 100vh;
}

input[type="text"], input[type="password"], input[type="email"] {
  border: 0;
  border-bottom: 1px solid #000;
  font-family: "Open Sans";
  width: 420px;
  padding-left: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}



::placeholder {
  color: rgb(101, 101, 101);
  opacity: 1;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 30px;
    font-family: 'Titan One', cursive;
  }

  h2 {
    margin-top: -15px;
    font-weight: 100;
  }

  img {
    margin-top: 20px;
    width: 30vw;
  }
}

.right {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .actions {
      flex: 1;
      width: 100%;

      text-align: center;
    }

    input[type="submit"], .signup p {
      height: 60px;
      width: 90%;
      flex: 1;
    
      text-align: center;
      margin-top: 10px;
      padding: 0 20px;
    
      border: none;
      border-radius: 3px;
    
      font-size: 30px;
      
      color: white;
      background: #F7931E;
      cursor: pointer;
    }
  }
}

.signup {
  background-color: #F7931E;
  border-radius: 15px;
  height: 84px;
  width: 440px;
  margin-top: 40px;
  text-align: center;
  line-height: 84px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.welcome-image {
  width: 500px;
}

.right_title {
  text-align: center;
  font-family: 'Titan One', cursive;
  font-size: 50px;
}

.forgot {
  margin: auto;
  text-decoration: none;
  text-align: center;
}

.login_field {
  border: 0;
}

.container-trackers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.edit_form {
  input[type="submit"], .signup p {
    height: 60px;
    width: 100%;
    flex: 1;
  
    text-align: center;
    margin-top: 10px;
    padding: 0 20px;
  
    border: none;
    border-radius: 3px;
  
    font-size: 30px;
    
    color: white;
    background: #F7931E;
    cursor: pointer;
  }
}